.row {
  display: grid;
  column-gap: calc(3 * var(--spacing-unit));
}

.row-8-4, .row-4-8, .row-6-6, .row-3-9, .row-9-3 {
  grid-template-columns: 1fr;
}

@media screen and (max-width: 640px) {
  .first-on-mobile {
    grid-row: 1;
  }
}

.margin-l-top-bottom {
  margin-top: var(--typo-spacing-large);
  margin-bottom: var(--typo-spacing-large);
}

.re-content-block {
  margin: 0 auto;
}

.re-content-block__paragraph {
  margin: var(--typo-spacing-large) var(--typo-spacing-unit) var(--typo-spacing-large);
  max-width: var(--paragraph-max-width);
}

.re-content-block__paragraph--no-margin{
  margin: 0;
}

.re-content-block__paragraph--center {
  margin-left: auto;
  margin-right: auto;
}

.re-content-block__separator {
    background-color: var(--color-lightgray);
    color: var(--color-blue);
    min-width: 50%;
    height: 3px;
    border: none;
    margin: 40px 0;
    position: relative;
    overflow: visible;
}

.re-content-block__separator::before {
  font-family: cursive;
  content: '\2766';
  display: block;
  width: 20%;
  padding: 0.3em;
  font-size: 2.2em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: var(--color-background2);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 640px) {
  .row-8-4 {
    grid-template-columns: 2fr 1fr;
  }
  .row-4-8 {
    grid-template-columns: 1fr 2fr;
  }
  .row-6-6 {
    grid-template-columns: 1fr 1fr;
  }
  .row-3-9 {
    grid-template-columns: 3fr 9fr;
  }
  .row-9-3 {
    grid-template-columns: 9fr 3fr;
  }
}