.re-page {
  margin: 2em 5%;
  overflow: hidden;
  position: relative;
}

.row-8-4, .row-4-8, .row-6-6 {
  display: grid;
  grid-template-columns: 1fr;
}

.margin-l-top-bottom {
  margin-top: var(--typo-spacing-large);
  margin-bottom: var(--typo-spacing-large);
}

.re-content-block__paragraph {
  margin: var(--typo-spacing-unit);
}

.re-content-block__paragraph {
  margin-top: var(--typo-spacing-large);
  margin-bottom: var(--typo-spacing-large);
  max-width: var(--paragraph-max-width);
}

.re-content-block__separator {
  margin: 0 auto;
  height: 1em;
  border-radius: 1em;
}

@media screen and (min-width: 640px) {
  .row-8-4 {
    grid-template-columns: 2fr 1fr;
  }
  .row-4-8 {
    grid-template-columns: 1fr 2fr;
  }
  .row-6-6 {
    grid-template-columns: 1fr 1fr;
  }
}