.re-page {
  margin: 2em 5%;
  overflow: hidden;
}

.row-8-4, .row-4-8 {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 640px) {
  .row-8-4 {
    grid-template-columns: 2fr 1fr;
  }
  .row-4-8 {
    grid-template-columns: 1fr 2fr;
  }
}

.re-content-block__paragraph, .re-content-block__image {
  margin: 1em;
}

.re-content-block__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.re-content-block__image img{
  max-width: 100%;
}

.re-content-block__separator {
  margin: 0 auto;
  height: 1em;
  border-radius: 1em;
}

.re-blue {
  background: var(--color-blue);
}