h1, h2, h3, h4, p {
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

p, span, a {
  font-family: var(--font-family);
}

.right {
  text-align: right;
}

.dark {
  color: var(--color-foreground2);
}

h1, .h1 {
  font-family: var(--font-family-header);
  font-size: 1.5rem;
}

h2, .h2 {
  font-family: var(--font-family-header);
  font-size: 1.2rem;
  margin: 0.5em 0;
}
h3, .h3 {
  font-family: var(--font-family-header);
  font-size: 1.1rem;
  margin: 0;
}
h4, .h4 {
  font-family: var(--font-family-header);
  margin: 0;
}
p, .p {
  font-size: 0.9em;
}

.bold-quote {
  padding: calc(var(--spacing-unit) * 3);
  padding-bottom: 0;
}

.decoration-text {
    position: absolute;
    top: -20px;
    left: -9px;
    color: var(--color-blue);
    opacity: 0.15;
}

@media screen and (min-width: 640px) {
  .decoration-text {
    top: -45px;
    left: -30px;
  }
}

@media screen and (min-width: 400px) {
  h1, .h1 {
    font-size: calc(1.5rem + (24 - 12) * ((100vw - 400px) / (800 - 400)));

  }
  h2, .h2 {
    font-size: 1.8rem;
  }
  h3, .h3 {
    font-size: 1.3rem;
  }
}
  p {
    font-family: var(--font-family);
    font-size: 1rem;
    text-align: left;
  }

.ingress {
  max-width: var(--paragraph-max-width);
  margin: auto;
}

.ingress--center {
  text-align: center;
}

