h1, h2, h3, h4, p {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

p, span, a {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
}

.right {
  text-align: right;
}

.dark {
  color: var(--color-foreground2);
}

h1, .h1 {
  font-family: var(--font-family-header);
  font-size: 1.65rem;
}

h2, .h2 {
  font-family: var(--font-family-header);
  font-size: 1.4rem;
  margin: 0.5em 0;
}
h3, .h3 {
  font-family: var(--font-family-header);
  font-size: 1.1rem;
  margin: 0;
}
h4, .h4 {
  font-family: var(--font-family-header);
  margin: 0;
}

@media screen and (min-width: 400px) {
  h1, .h1 {
    font-size: calc(1.8rem + (24 - 12) * ((100vw - 400px) / (800 - 400)));
  }
  h2, .h2 {
    font-size: 1.8rem;
  }
  h3, .h3 {
    font-size: 1.4rem;
  }

  h4, .h4 {
    font-size: 1.2rem;
  }
}

p, .p {
  font-size: 0.9em;
}

.bold-quote {
  padding: calc(var(--spacing-unit) * 3);
  padding-bottom: 0;
}

.decoration-text {
    position: absolute;
    top: -0.9em;
    left: -0.4em;
    color: var(--color-blue);
    opacity: 0.2;
}

.decoration-text--brown {
  color: var(--color-brown);
}

@media screen and (min-width: 640px) {
  .decoration-text {
    top: -0.9em;
    left: -0.5em;
    opacity: 0.18;
  }
}

p {
  font-family: var(--font-family);
  font-size: 1rem;
  text-align: left;
}

.ingress {
  max-width: var(--paragraph-max-width);
  margin: auto;
}

.ingress--center {
  text-align: center;
}

