:root {
  --font-family-header: "Ubuntu Mono", monospace;
  --font-family: 'Open Sans', sans-serif;
  --color-background1: #1c1c1c;
  --color-background2: #fff;
  --color-foreground1: #1c1c1c;
  --color-foreground2: #fff;
  --color-green: #339900;
  --color-blue:#244f7d;
  --color-black:#000;
  --spacing-unit: 4px;
  --typo-spacing-unit: 0.6rem;
  --typo-spacing-large: 1rem;
  --paragraph-max-width: 700px;
}

@media screen and (min-width: 640px) {
  :root {
    --typo-spacing-unit: 1rem;
    --typo-spacing-large: 2rem;
  }
}

.re-blue {
  background: var(--color-blue);
}

.re-black {
  background: var(--color-black);
}